@use '../layout/components' as comp;
.website
{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
}
.topic
{
    padding-top: 18rem;
    &--container
    {
        margin: 0 3rem;
        @extend comp, .container !optional;
        display: grid;
        grid-auto-flow: row;
        gap: 2rem;
        &::before
        {
            
        }
    }
    &__title
    {
        font-size: 65pt;
        word-wrap: break-word;
    }
    &__text
    {
        font-size: 25pt;
        text-transform: capitalize;
    }
}

.option__divider
{
    display: none;
    @extend comp, .divider !optional;
}